body{
  background-image: url(https://cdnb.artstation.com/p/assets/images/images/039/196/975/large/labuu-20210630xx.jpg?1625206703) ;
  background-size: cover;
  color: rgb(31, 31, 138);
  background-attachment: fixed;
  text-align: center;
}

.pokemon{
  margin: auto;
  height: 50vh;
  width: 54vw;
  background-image: url(pokemon-logo-png-1432.png);
}

.pokeDetails{
  margin: auto;
  height: 51vh;
  width: 75vw;
  background-image: url(pokemon-logo-png-1428.png);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
